@{
Layout = null;
<h5 style="color: darkblue; text-align: center; font-size: 25px;">Cambio de la Contraseña</h5>
<br />
<h6 style="font-weight: bolder; text-align: center; font-size: 16px;">Correo de recuperación de contraseña</h6>
<br />
<br />
<div style="padding: 30px; font-size: 18px;">
    <p>
        Se te está proporcionando una página para que puedas cambiar tu contraseña de forma que la anterior no se usará más, cambiandola por la que
        escribas ahora. Por lo que te pedimos tengas de antemano anotada tu nueva contraseña antes de continuar.
    </p>
    <p>Una vez listo para seguir, por favor haz click en el link de abajo para dirigirte a cambiar tu contraseña y puedas iniciar sesión de nuevo.</p>
    <br />
    <center>
            <a href="http//localhost:5214/Usuario/NewPassword">Cambio de contraseña</a>
    </center>
    <br />
    <br />
    <span>Agradecemos de antemando el uso del sistema para tus peliculas favoritas y tu dulceria de preferencia.</span>
    <h6>Atte. Equipo de Soporte Tecnico Movies-Project.</h6>
    <h6>2023</h6>
</div>

}



